<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <body>
    <h1>Use Evolution Item</h1>
    <a href="/bag"><button>Back </button></a>
    <h2>Use On:</h2>
    <table border="1">
        <tr>
          <th>PokeID</th>
          <th>Name</th>
          <th>PowerLVL</th>
          <th>Held Item</th>
        </tr>
        {% for row in data %}
          <tr>
            <td>{{ row['pokeid'] }}</td>
            <td>{{ row['name'] }}</td>
            <td>{{ row['powerlvl'] }}</td>
            <td>{{ row['Held Item'] }}</td>
          </tr>
        {% endfor %}
    </table>
  </body>