<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <div class="box">
    Playing As: {{my_train_name}}<br>
    Money: {{my_money}}<br>
    Current Location: {{my_loc_name}}
  </div>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <body>
    <h1>Select a Trainer:</h1>
    <img src="{{ url_for('static', filename='ash.jpg') }}" alt="Ash Image" width="30%" height="auto">
    <table border="1">
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
      {% for row in data %}
        <tr>
          <td>{{ row }}</td>
          <td>
            <form action="{{ url_for('button_clicked_select_trainer') }}" method="post">
              <input type="hidden" name="row_data" value="{{row}}">
              <button>Select Trainer</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>