<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <h1>Map</h1>
  <div class="navbar">
    <a href="/">Home</a>
    <a href="location">Map</a>
    <a href="trainer">Trainers</a>
    <a href="bag">Bag</a>
    <a href="pokemon">My Pokemon</a>
  </div> 

  <div class="box">
    Playing As: {{my_train_name}}<br>
    Current Location: {{my_loc_name}}
  </div>

  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <img src="{{ url_for('static', filename='kanto.png') }}" alt="Kanto Image" width="30%" height="auto">
  <h2>Current Location:</h2>
  <div>
    {% for n in my_data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

  <h2>Other Locations:</h2>
    <table border="1">
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
      {% for row in data %}
        <tr>
          <td>{{ row }}</td>
          <td>
            <form action="{{ url_for('button_clicked_change_location') }}" method="post">
              <input type="hidden" name="row_data" value="{{row}}">
              <button>Go</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
