<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <h1>Pokemon</h1>
  <div class="navbar">
    <a href="/">Home</a>
    <a href="location">Map</a>
    <a href="trainer">Trainers</a>
    <a href="bag">Bag</a>
    <a href="pokemon">My Pokemon</a>
  </div> 
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <img src="{{ url_for('static', filename='poke.jpg') }}" alt="Poke Image" width="50%" height="auto">
  <h2>My Pokemon:</h2>
    <table border="1">
      <tr>
        <th>PokeID</th>
        <th>Name</th>
        <th>PowerLVL</th>
        <th>Cost</th>
        <th>Held Item</th>
      </tr>
      {% for row in data %}
        <tr>
          <td>{{ row['pokeid'] }}</td>
          <td>{{ row['name'] }}</td>
          <td>{{ row['powerlvl'] }}</td>
          <td>{{ row['cost'] }}</td>
          <td>{{ row['Held Item'] }}</td>
        </tr>
      {% endfor %}
    </table>
