<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <h1>Trainers</h1>
  <div class="navbar">
    <a href="/">Home</a>
    <a href="location">Map</a>
    <a href="trainer">Trainers</a>
    <a href="bag">Bag</a>
    <a href="pokemon">My Pokemon</a>
  </div> 
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <body>
    <img src="{{ url_for('static', filename='trainer.jpg') }}" alt="Trainer Image" width="30%" height="auto">
    <h2>Trainers in Current Location</h2>
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Money</th>
      </tr>
      {% for row in t_data %}
        <tr>
          <td>{{ row['name'] }}</td>
          <td>{{ row['money'] }}</td>
        </tr>
      {% endfor %}
    </table>

    <h2>Gym Leaders in Current Location</h2>
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Money</th>
        <th>Reward</th>
      </tr>
      {% for row in gl_data %}
        <tr>
          <td>{{ row['name'] }}</td>
          <td>{{ row['money'] }}</td>
          <td>{{ row['reward'] }}</td>
        </tr>
      {% endfor %}
    </table>

    
  </body>
</html>