<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <body>
    <h2>Trainers in Current Location</h2>
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Money</th>
      </tr>
      {% for row in t_data %}
        <tr>
          <td>{{ row['name'] }}</td>
          <td>{{ row['money'] }}</td>
        </tr>
      {% endfor %}
    </table>

    <h2>Gym Leaders in Current Location</h2>
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Money</th>
        <th>Reward</th>
      </tr>
      {% for row in gl_data %}
        <tr>
          <td>{{ row['name'] }}</td>
          <td>{{ row['money'] }}</td>
          <td>{{ row['reward'] }}</td>
        </tr>
      {% endfor %}
    </table>

    
  </body>
</html>